@font-face { font-family: 'Montserrat'; src: url('/fonts/Montserrat-Regular.ttf') format('truetype'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'Montserrat'; src: url('/fonts/Montserrat-Medium.ttf') format('truetype'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'Montserrat'; src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype'); font-weight: 600; font-style: normal; }
@font-face { font-family: 'Montserrat'; src: url('/fonts/Montserrat-Bold.otf') format('opentype'); font-weight: 700; font-style: normal; }
@font-face { font-family: 'Montserrat'; src: url('/fonts/Montserrat-ExtraBold.ttf') format('truetype'); font-weight: 800; font-style: normal; }
@font-face { font-family: 'Montserrat'; src: url('/fonts/Montserrat-Black.ttf') format('truetype'); font-weight: 900; font-style: normal; }

@font-face { font-family: 'Clesmont'; src: url('/fonts/clesmont.ttf') format('truetype'); font-weight: 400; font-style: normal; }

@font-face { font-family: 'DM Sans'; src: url('/fonts/DMSans-Regular.ttf') format('truetype'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'DM Sans'; src: url('/fonts/DMSans-Medium.ttf') format('truetype'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'DM Sans'; src: url('/fonts/DMSans-SemiBold.ttf') format('truetype'); font-weight: 600; font-style: normal; }
